@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    outline: none ;
    border: none;
    font-family: 'comfortaa', sans-serif;
}
html{
    font-size: 62.5%;  
    background-color:#d8d5d5;
}

.sub-heading{
    margin-top: 13rem;
    text-align:center;
    color:#d81b60; font-size: 2rem;
    padding-top:1rem;

}
.heading{
        text-align:center;
        color:#d81b60; 
        font-size: 3rem;
        padding-top:2rem; 
        text-transform: uppercase;
}



.btn:hover{
    background-color: #d81b60;
    color: white;
    transform: scale(1.2);
}
header{
    position: fixed;
    top: 0%;
    left: 0%;
    right:0%;
    background:#ffffff;
    padding: 1rem 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

span{
    color:#a00037;
   
    
}
header .logo{
    color: black;
    font-size: 2.5rem;
    font-weight: bolder;
}
header .logo i{
    color: #a00037; 
}
header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);

}

header .navbar a:hover{
    color: white;
    background:  #a00037;
    transition: 0.5s linear;
}
header .icons i,
header .icons a{
    cursor: pointer;
    margin-left:.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: black;
    border-radius:50%;
    background: #78767648;
}

header .icons i:hover,
header .icons a:hover{
    color: white;
    background:  #a00037;

    transform: rotate(10deg); 
}
.home .home-slider .home-slider{
    display: inline-block;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 10rem;
   
}
h3{
    font-size: 2.5rem;
}
.about .about-heading{
    align-items: center;
    justify-content: center;
}
img{
    background: cover;
    height: 700px;
    width: 100%;
    margin-top: 15px;
    opacity: 60%;
  
}
.item{
        
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;

}
h1{
    size: 150px;
    transform: translateX(10%);
}
button{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(176, 28, 28);
    color: white;
    
}